.home-button-background {
    object-fit: cover;
    width: 50%;
    height: 120vh;
    position: fixed;
    z-index: -1;
    /* visibility: hidden; */
}

.hero-btns:hover .img {
    visibility:visible;
    opacity: 1;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

.hero-container {
    /* background: url('../public/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    position: fixed;
}

.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    /* margin-top: -100px; */
}

.hero-container > p {
    margin-top: 8px; 
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 
        Arial, sans-serif;
}

.hero-btns {
    /* margin-top: -40px; */
    height: 100%;
    width: 100%;
    /* margin-bottom: -40px; */
    /* height: 50%; */
    background-color: rgba(63, 63, 63, 0.241);
}

.hero-btns .btn {
    /* margin: 6px; */
    padding: 150px;
    height: 100%;
    width: 50%;
    font-size: 2rem;
    color: #fff;
    /* background-color: rgb(0, 0, 0); */
}

.hero-btns .btn:hover {
    color:bisque;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px; 
        margin-top: -150px;
    }
    .hero-btns .btn {
        height: 100%;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px; 
        margin-top: -100px;
    }
    
    .hero-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }

    .home-button-background {
        object-fit: cover; 
        width: 100%;
        height: 120vh;
        position: fixed;
        z-index: -1;
        /* visibility: hidden; */
    }

    .hero-btns .btn {
        padding: 150px;
        height: 50vh;
        width: 100%;
        font-size: 2rem;
        color: #fff;
        text-align: center;    
    }
}